.rf-clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.rf-container {
  height: 32px;
  position: relative;
  width: calc(100% - 32px);
  margin-left: 16px;
}
.rf-container .rf-bg {
  width: calc(100% + 30px);
  margin-left: -15px;
}
.rf-container .rf-selected {
  width: 100%;
}
.rf-container .rf-bg,
.rf-container .rf-selected {
  background-color: #f4f4f4;
  height: 2px;
  left: 0;
  position: absolute;
  top: 15px;
}
.rf-container .rf-selected {
  background-color: #2b72cb;
  width: 0;
}
.rf-container.disabled .rf-selected {
  background-color: #ccc;
  border-color: #bbb;
}
.rf-container .rf-pointer {
  cursor: pointer;
  width: 16px;
  height: 16px;
  left: -1px;
  position: absolute;
  top: 5px;
  border-radius: 14px;
  background-color: #2b72cb;
  border: 3px solid #fff;
}
